<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	

    <title>Techruiter</title>

    <link href="css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <style>
        #imgur{
            height:250px;
        }

    </style>
 <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

    <!-- Copy code -->
    <script src="js/ZeroClipboard.js"></script>
 
    <script src="js/script.js"></script>



       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
    <script src="js/app_tweet_candidate.js"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="myCtrl">
 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
            	
	          <a class="navbar-brand page-scroll" href="index_candidate.html"><span class="hidden-sm hidden-xs">Techruiter</span></a>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

             <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">

                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="analysis_candidate.html">Interview Analysis</a><!-- check button for image tweets and text,search for srch -->
                    </li>
                    <li>
                        <a class="page-scroll" href="employers_info_candidate.html">Employers Information</a><!-- add reply all to this,filter tweets,follower tweets based on location

                        notifications if new tweet comes,to push bullet,twitter time line should contain only tweets which have a lost of retweets,count set by user -->
                    </li>
                    <li>
                        <a class="page-scroll" href="skills_candidate.html">Skills Enhancement<span class="badge" style="color:Green">New</span></a>
                    </li>
                    <li>
                        <a href="myprof_candidate.html">My Profile</a>
                    </li>
                </ul>
                

            </div>
            
        </div>
        <!-- /.container -->
    </nav>

   
<section id="intro" class="section odd-section intro-section" style="font-family: 'Droid Serif'">
        <div class="container">
        <div class="jumbotron" style="opacity:0.5;background-color:l#555555 !important; box-sizing: border-box; display:block;background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);">
        <div><h3 style="color:black"><i><b>Take Online Interview</b></i></h3></div>
        	<button type="button" class="btn btn-info" data-toggle="button" ng-show="a==false" ng-click="a=true">   Yes! Am Confident  </button>
            <button type="button" class="btn btn-success" data-toggle="button" ng-show="a==true" ng-click="a=false">NOoooooo! Am Afraid</button>
        </div>	
        <div class="jumbotron" ng-show="a==false">
            <p>Interview Questions</p>
            <ul>
               <li>Tell me about Yourself?
               <li>Assuming that you are selected, what will be your strategy for next 60 days?
               <li> Can you tell me about the most exciting aspect of your job?
            </ul>
            <button type="button" class="btn btn-success" data-toggle="button" ng-click="b=false">Record Your Response</button><br/>
            <input class="form form-control" type"text" placeholder="http://www.talkenglish.com/AudioTE/L21/sentence/L21S5.mp3" value="http://www.talkenglish.com/AudioTE/L21/sentence/L21S5.mp3" ng-model="linkr" ng-show="b==false"/>
             <button type="button" class="btn btn-success" data-toggle="button" ng-show="linkr!=''" ng-click="calculate_score()">Submit your response</button><br/>
        </div>
</section>




</body>

</html>
